@font-face {
  font-family: MouseMemoirs;
  src: url('./assets/fonts/MouseMemoirs-Regular.ttf');
}

:root {
  --color-dark-navy: #261676;
  --color-blue: #2463FF;
  --color-font-gradient: #67B6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: MouseMemoirs, sans-serif;
  font-size: 10px;
}

body {
  background-image: url("assets/images/background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 375px;
  min-height: 812px;
  color: white;
}

.App {
  display: flex;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to top, rgb(38, 22, 118, 0.9), rgba(36, 99, 255, 0.9));
  width: 324px;
  height: 481px;
  border-radius: 48px;
}

.logo {
  height: 130px;
  width: 263px;
  transform: translateY(-50%);
}

.btn {
  display: block;
  font-family: inherit;
  background: var(--color-blue);
  position: relative;
  cursor: pointer;
  width: 260px;
  height: 62px;
  border-radius: 40px;
  color: inherit;
}

.btn::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btn:hover::after {
  opacity: .25;
}

.btn-play {
  background: linear-gradient(to bottom, #FE71FE, #7199FF);
  width: 160px;
  height: 160px;
  border-left: 5px solid #9D2DF5;
  border-right: 5px solid #9D2DF5;
  border-bottom: 15px solid #9D2DF5;
  border-radius: 50%;
}

.btn-play::after {
  border-radius: 50%;
}

.btn-guide {
  margin-top: 60px;
  font-size: 38px;
  border-left: 5px solid #3b74ff;
  border-right: 5px solid #3b74ff;
  border-top: 10px solid #3b74ff;
}

.btn-guide::after {
  border-radius: 40px;
}

.guide {
  background: rgba(26, 4, 58, 0.75);
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 324px;
  font-size: 4.2rem;
  background: linear-gradient(to bottom, var(--color-font-gradient), white);
  background-clip: text;
  color: transparent;
}

.btn-header {
  background: linear-gradient(to bottom, #FE71FE, #7199FF);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn-header img {
  height: 80%;
  width: 80%;
}

.stages-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 324px;
  height: 185px;
  padding: 32px;
  background-color: white;
  font-size: 1.6rem;
  border-radius: 20px;
}

.stage header {
  display: flex;
  padding-left: 32px;
  gap: 16px;
  justify-content: flex-start;
  font-size: 2.4rem;
  color: var(--color-blue);
}

.stage h6 {
  color: var(--color-dark-navy);
}

.stage main {
  color: #887DC0;
}

.categories-container {
  display: flex;
  flex-direction: column;
  width: 324px;
  gap: 16px;
}

.btn-category {
  width: 100%;
  height: 77px;
  border-left: 3px solid #3b74ff;
  border-right: 3px solid #3b74ff;
  border-top: 8px solid #3b74ff;
  font-size: 2.4rem;
}

.keys-container {
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 324px;
  height: 218px;
}

.key {
  background: white;
  width: 28px;
  height: 58px;
  border-radius: 8px;
  color: var(--color-dark-navy);
  font-family: inherit;
  font-size: 2.4rem;
  cursor: pointer;
}

.key::after {
  display: none;
}

.key:hover {
  background: var(--color-blue);
  color: white;
}

.in-game main {
  display: flex;
  flex-direction: column;
}

.in-game header {
  gap: 16px;
  color: white;
  font-size: 4rem;
}

.in-game .btn-header img {
  width: 60%;
  height: 60%;
}

.life-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.life-container img {
  width: 25px;
  height: 24px;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 57px;
  height: 16px;
}

::-webkit-progress-bar {
 background-color: white; 
 border-radius: 96px;
 border: 4px solid white;
}

::-webkit-progress-value {
  background: var(--color-dark-navy);
  border-radius: 96px;
}

.top-header div {
  display: flex;
  flex-direction: row;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  gap: 24px;
  width: 375px;
  height: 144px;
}

.words-container div {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.letter {
  background: var(--color-blue);
  width: 24px;
  height: 40px;
  border-radius: 12px;
  border-top: 7px solid #3B74FF;
  border-right: 4px solid #3B74FF;
  border-left: 4px solid #3B74FF;
}

.in-game .btn:disabled,
.disabled {
  opacity: .25;
}

.menu-bg {
  position: absolute;
  background: linear-gradient(to bottom, rgba(26,4, 58, .2), rgba(38, 22,118, .2));
  display: flex;
  z-index: 1;
  width: 375px;
  height: 812px;
}

.menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgba(52,74,186, .9), rgba(0,20,121, .9));
  width: 324px;
  height: 445px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 48px;
  border-top: 12px solid var(--color-blue);
  border-right: 2px solid var(--color-blue);
  border-left: 2px solid var(--color-blue);
  border-bottom: 12px solid #243041
}

.menu header {
  transform: translateY(-60%);
  flex-direction: column;
  justify-content: flex-start;
}

.menu header h2 {
 font-size: 9.4rem;
}

.menu nav {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 275px;
  height: 254px;
  font-size: 4.2rem;
}

.btn-pause-normal {
  width: 228px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.2rem;
  text-transform: uppercase;
  border-top: 8px solid #3b74ff;
  border-left: 3px solid #3b74ff;
  border-right: 3px solid #3b74ff;


}

.btn-long {
  width: 275px;
}

.btn-pause-gradient {
  background: linear-gradient(to bottom, #FE71FE, #7199FF);
  border-color: #c642fb;
}

@media(min-width: 768px) {
body {
  background-image: url("assets/images/background-tablet.svg");
  min-width: 768px;
  max-height: 1024px;
}

.start {
  width: 582px;
  height: 500px;
}

.logo {
  width: 374px;
  height: 185px;
}
.guide {
  min-height: 1024px;
  width: 768px;
  gap: 100px;
}
header {
  width: 600px;
  font-size: 8.0rem;
  justify-content: space-between;
}
.btn-header {
  width: 64px;
  height: 64px;
}

.stages-container {
  gap: 32px;
}

.stage {
  width: 600px;
  height: 200px;
  font-size: 2rem;
}

.stage header {
  font-size: 4rem;
}

.categories-container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 680px;
  gap: 32px;
}

.btn-category {
  width: 324px;
  height: 182px;
  font-size: 4.8rem;
}

.keys-container {
  width: 704px;
  height: 300px;
  gap: 16px;
}

.key {
  width: 64px;
  height: 84px;
  border-radius: 24px;
  font-size: 4.8rem;
}

.in-game header {
  gap: 32px;
  font-size: 4.8rem;
}

.life-container {
  gap: 40px;
}

progress {
  width: 160px;
  height: 31px;
}

::-webkit-progress-bar {
  border-width: 9px 11px;
}

.life-container img {
  width: 53px;
  height: 49px;
}

.letter {
  width: 60px;
  height: 112px;
  border-radius: 40px;
  font-size: 6.4rem;
}

.words-contaner {
  width: 700px;
}

.words-container div {
  gap: 16px;
}

.menu-bg {
  width: 768px;
  height: 1024px;
}

.menu {
  width: 592px;
  border-radius: 72px;
}

.menu header h2 {
  font-size: 10.4rem;
}
}

@media(min-width: 1440px) {
  body {
    background-image: url("assets/images/background-desktop.svg");
    height: 1024px;
    min-width: 1440px;
  }
  .start {
    width: 592px;
    height: 610px;
  }

  .btn-guide {
    margin-top: 145px;
  }

  .guide {
    width: 1440px;
  }
  header {
    justify-content: flex-start;
    gap: 288px;
    width: 1212px;
    line-height: 16rem;
    font-size: 10.4rem;
  }

  .btn-header {
    width: 94px;
    height: 94px;
  }

  .stages-container {
    flex-direction: row;
  }

  .stage {
    width: 384px;
    height: 550px;
    font-size: 2.6rem;
  }

  .stage header {
    flex-direction: column;
    font-size: 4.8rem;
  }

  .stage header p {
    font-size: 8.8rem;
  }

  .categories-container {
    width: 1218px;
    height: 430px;
  }

  .btn-category {
    width: 384px;
    height: 190px;
  }
  .keys-container {
    width: 1173px;
    gap: 24px;
  }
  
  .key {
    width: 109px;
  }

  .in-game header {
    justify-content: flex-start;
  }

  .life-container {
    margin-left: auto;
  }

  progress {
    width: 240px;
  }

  .letter {
    width: 112px;
    height: 108px;
    font-size: 8.8rem;
  }

  .menu-bg {
    width: 1440px;
  }

  .menu header h2 {
    font-size: 13.4rem;
  }

  .words-container {
    width: 1200px;
    gap: 32px;
  }

  }